{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Contacts CRUD APP | Delete Contact</title>
</head>
<body>
  <div class="container">
    <form class="remove-form" method="POST" action="">
      {% csrf_token %}
      <br>
      <div class="alert" role="alert">
        Are you sure you want to delete "{{ contact.first_name }} {{ contact.last_name }}"?
      </div>
      <p>
        <a href="{% url 'retrieve-contact' %}">Return</a>
      </p>
      <input type="submit" value="Confirm">
    </form>
  </div>
</body>
</html>